@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background: #fff;
  margin: auto;
  color: #32323d;
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 600;
}

.text-upper {
  text-transform: uppercase;
}

.c-button {
  min-width: 100px;
  text-align: center;
  justify-content: center;
}

.container {
  max-width: 600px;
  margin: auto;
}

.container-2 {
  margin: 50px auto 100px;
}

.app {
  position: relative;
  overflow-y: auto;
}

.c-row--50 {
  margin: 0 -15px;
  justify-content: space-between;
}

.c-row--50 .col {
  width: 40%;
  margin: 0 15px;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker-wrapper input {
  border: 1px solid #b9c2ca;
  height: 32px;
  padding: 0 10px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.css-uxwp33,
[data-css-uxwp33] {
  border: 1px solid #b9c2ca !important;
  background-image: none !important;
  box-shadow: none;
  height: 32px;
}

.c-button--save {
  width: 100%;
  margin: 10px 0 !important;
  font-size: 16px !important;
}

.c-list {
  border: 1px solid #ababab;
  margin-top: 30px;
}

.c-item__top {
  align-items: flex-start;
  border-bottom: 1px solid #ababab;
  padding: 20px;
}

.c-item__content {
  padding: 20px;
  border-bottom: 1px solid #ababab;
}

.c-item:last-child .c-item__top {
  border-bottom: none;
}

.c-item__name {
  width: 60%;
  padding-right: 20px;
  align-items: flex-start;
}

.c-item__name label {
  margin-top: 5px;
}

.c-item__action {
  width: 40%;
}

.c-item__action .c-button--blue {
  background: #0cb4c5;
  color: #fff;
  background-image: unset !important;
  box-shadow: none !important;
}

.c-item__action .c-button--blue:hover,
.c-item__action .c-button--blue:active {
  background: #00a9bb !important;
  color: #fff;
}

.c-action .c-button {
  margin: 0 5px;
}

.c-form__search {
  margin-top: 20px;
}

.c-component--empty {
  text-align: center;
  margin: 50px;
  font-size: 20px;
  font-weight: 600;
}

.c-form__action {
  margin-top: 20px;
  justify-content: center;
}

.c-action--fixed {
  position: fixed;
  bottom: 0;
  border-top: 1px solid #777;
  width: 100%;
  padding: 20px;
  background: #d8d8d8;
  z-index: 9;
  transition: all .5s ease;
}

.react-datepicker-popper {
  z-index: 2 !important;
}
